spack:
  specs:
  # package is defined in the workflows inputs.spack-manifest-data-pairs
  # And the gcc_compilers are defined in the standard_definitions.json data file
  - '{{ package }} configurations=MOM6,CICE6,WW3,MOM6-WW3,MOM6-CICE6,CICE6-WW3,MOM6-CICE6-WW3 %{{ gcc_compiler }}'
  packages:
    c:
      require:
        - '{{ gcc_compiler }}'
    cxx:
      require:
        - '{{ gcc_compiler }}'
    fortran:
      require:
        - '{{ gcc_compiler }}'
    all:
      require:
      - 'target={{ target }}'
  concretizer:
    unify: false
  view: false
