# This manifest is used by default for packages without a specific manifest under .github/build-ci/manifests/PACKAGE/*.j2
spack:
  specs:
  # package is defined in the workflows inputs.spack-manifest-data-pairs
  # And the intel_compilers are defined in the standard_definitions.json data file
  - '{{ package }} %{{ intel_compiler }}'
  packages:
    c:
      require:
        - '{{ intel_compiler }}'
    cxx:
      require:
        - '{{ intel_compiler }}'
    fortran:
      require:
        - '{{ intel_compiler }}'
  concretizer:
    unify: false
  view: false
