spack:
  specs:
  # package is defined in the workflows inputs.spack-manifest-data-pairs
  # And the gcc_compilers are defined in the standard_definitions.json data file
  - '{{ package }} +mpi library=access-esm1.6 %{{ gcc_compiler }}'
  - '{{ package }} ~mpi library=access-esm1.6 %{{ gcc_compiler }}'
  packages:
    all:
      require:
      - '%{{ gcc_compiler }} target={{ target }}'
  concretizer:
    unify: false
  view: false
